* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none; 
}

body {
    font-family: Arial, sans-serif;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    background: #000;
    width: 320px;
    padding: 20px;
    border-radius: 20px;
}

.display {
    background: #111;
    color: white;
    width: 100%;
    height: 90px;
    border-radius: 10px;
    font-size: 40px;
    display: block;
    text-align: right;
    padding: 15px;

    overflow-x: auto;      
    overflow-y: hidden;   
    white-space: nowrap;   
    scrollbar-width: thin;
}

.History {
    font-size: 16px;
    color: #888;
    margin-bottom: 5px;
    display: flex;
    justify-content: flex-end;
}

.CurrentInput {
    font-size: 40px;
    color: white;
    text-align: right;
    white-space: nowrap;
    overflow-x: auto;
}

.clearButton {
    color: white;
    padding: 5px 10px;
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
    width: fit-content;
    height: fit-content;
    margin-bottom: -70px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.btn{
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid rgb(236, 236, 236);
    color: white;
    font-size: 25px;
    width: 60px;
    height: 60px;
}

.btn.operator {
    background: #ff9500;
    color: white;
}

